<!DOCTYPE html>
<html lang="pt-br">
   <head>
       <meta charset="utf-8"/>
       <title>Meu PDF</title>
   </head>
   <body>
       
        <h1 style='color:red'>Opa, ta ficando bonitinho! </h1>
        <hr>
        <p>Uau, já temos conteúdo em HTML</p>
        <p>Nome: <%= nome %></p>
        <p>Curso: <%= curso %></p>
        <p>Categoria: <%= categoria %></p>
        <img src='https://miro.medium.com/max/5120/1*mp91A9RzagntGGjBnwu4Yw.png' width='500' height='350'</img>

   </body>
</html>